<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/web">EJS Is Fun</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/web">Home</a>
    </li>
  </ul>
</nav>